@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #111111D6;

}


/* Carousel */

/* globals.css */
.carousel-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: gray;
}

.carousel-indicators button.active {
  background-color: blue;
}
